<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamteam.knowing">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.teamteam.knowing.config.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_knowing"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_knowing_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Knowing">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
<!--        <activity android:name="com.facebook.CustomTabActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter> <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:scheme="@string/fb_login_protocol_scheme" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <activity android:name="com.teamteam.knowing.ui.view.main.MainActivity">
        </activity>

        <activity android:name="com.teamteam.knowing.ui.view.main.LoadingActivity">
        </activity>

        <activity android:name="com.teamteam.knowing.ui.view.onboarding.OnboardingActivity">
        </activity>

        <activity android:name="com.teamteam.knowing.ui.view.splash.SplashActivity"
            android:theme="@style/SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.teamteam.knowing.ui.view.login.JoinUpSNSActivity">
        </activity>
        <activity android:name="com.teamteam.knowing.ui.view.sign_up.SnsSignUpActivity"
            android:theme="@style/sign_up_theme"/>
        <activity android:name="com.teamteam.knowing.ui.view.sign_up.SignUpActivity"
            android:theme="@style/sign_up_theme">
        </activity>
        <meta-data android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakaod8e0e3e9398b5db90db367e587268a49"/>
            </intent-filter>
        </activity>
        <activity android:name="com.teamteam.knowing.ui.view.sign_in.SignInActivity">
        </activity>
        <activity android:name="com.teamteam.knowing.ui.view.more_information.MoreInformationActivity1">
        </activity>
        <activity android:name="com.teamteam.knowing.ui.view.more_information.MoreInformationActivity2">
        </activity>
        <activity android:name="com.teamteam.knowing.ui.view.more_information.MoreInformationActivity3">
        </activity>
        <activity android:name="com.teamteam.knowing.ui.view.more_information.MoreInformationActivity4">
        </activity>
        <activity android:name="com.teamteam.knowing.ui.view.more_information.MoreInformationActivity5">
        </activity>
        <activity android:name="com.teamteam.knowing.ui.view.sign_in.search_email.SearchEmailActivity"/>
        <activity android:name="com.teamteam.knowing.ui.view.sign_in.search_email.LoadingSearchEmailActivity"/>
        <activity android:name="com.teamteam.knowing.ui.view.sign_in.search_pwd.SearchPwdActivity"/>
        <activity android:name="com.teamteam.knowing.ui.view.sign_in.search_pwd.LoadingSearchPwdActivity">
        </activity>
        <activity android:name="com.teamteam.knowing.ui.view.more_information.SelectCategoryActivity">
        </activity>
        <activity android:name="com.teamteam.knowing.ui.view.main.WelfareDetailActivity">
        </activity>
        <activity android:name="com.teamteam.knowing.ui.view.main.mypage.UserCorrectActivity"
            android:theme="@style/user_correct_activity"/>
        <activity android:name="com.teamteam.knowing.ui.view.main.mypage.AlarmSettingActivity"/>
        <activity android:name="com.teamteam.knowing.ui.view.main.mypage.CategoryCorrectActivity"/>
        <activity android:name="com.teamteam.knowing.ui.view.main.mypage.quize_terms.QuizeTermsActivity"/>
        <activity android:name="com.teamteam.knowing.ui.view.main.mypage.NotificationActivity"/>
        <activity android:name="com.teamteam.knowing.ui.view.main.mypage.quize_terms.PersonalInformationActivity"/>
        <activity android:name="com.teamteam.knowing.ui.view.main.mypage.quize_terms.OpenSourceActivity"/>
        <activity android:name="com.teamteam.knowing.ui.view.main.mypage.quize_terms.TermsOfUseActivity"/>
        <activity android:name="com.teamteam.knowing.ui.view.main.mypage.SnsUserCorrectActivity"
            android:theme="@style/sign_up_theme"/>
        <activity android:name="com.teamteam.knowing.ui.view.agree_terms.AgreeTermsActivity"/>
    </application>

</manifest>